.navbar {
    width: 275px;
    flex-shrink: 0;
    height: 100%;
    background-color: var(--color-background);
    border-right: 2px solid var(--color-borders);
    transition: width 0.3s ease;
    z-index: 1000;
}

.flex-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo {
    padding: 1rem 0 1rem 1rem;
    width: 200px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin-top: 10px;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.navbar-buttons:hover {
    background-color: var(--color-hover);
    border-radius: 12px;
}

.navbar-buttons.active {
    border: 2px solid var(--color-borders-blue);
    background-color: var(--color-hover);
    border-radius: 12px;
}

.navbar-icons {
    margin-right: 20px;
    margin-left: 6px;
}

.navbar-text {
    color: var(--color-snow);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.navbar-text.active {
    color: var(--color-picked-element);
}

.png {
    width: 32px;
    height: 32px;
}

.user-avatar {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid transparent;
}