# Environment for docker

#BE
NODE_ENV=dev

HOST=0.0.0.0
PORT=8080

DB_HOST=db
DB_PORT=5432
DB_NAME=blog
DB_USER=postgres
DB_PASSWORD=

CORS_ORIGIN=frontend

CREATOR_EMAIL= #If you log in with google/github and it has this email, you will see the create page and other features.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_USER_DETAILS_URL=https://api.github.com/user
GITHUB_USER_EMAIL_URL=https://api.github.com/user/emails

AUTH_REDIRECT_URI=http://localhost:5173/oauth2/auth

JWT_SECRET=
JWT_EXPIRATION_SECONDS=1800
REFRESH_TOKEN_EXPIRATION_DAYS=14

#FE

VITE_API_URL=/api/v1
VITE_ENVIRONMENT=dev

VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/oauth2/auth

VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/oauth2/auth

#PG_ADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#MINIO
MINIO_END_POINT=127.0.0.1
MINIO_PORT=9000
MINIO_SSL=false
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_AVATARS_BUCKET=
MINIO_MARKDOWN_IMG_BUCKET=