services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
      POSTGRES_DB: blog
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
  server:
    build: ./server
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: bloguser
      DB_PASSWORD: blogpass
      DB_NAME: blog
    ports:
      - "8080:8080"
    depends_on:
      - db
  
  frontend:
    image: nginx:latest
    ports:
      - "3000:80"
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  
  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@blog.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
  
volumes:
  pgdata:
  pgadmin_data: