services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  server:
    build: ./server
    environment:
      NODE_ENV: ${NODE_ENV}
      HOST: ${HOST}
      PORT: ${PORT}
      PUBLIC_HOST: ${PUBLIC_HOST}
      PUBLIC_PORT: ${PUBLIC_PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      CORS_ORIGIN: ${CORS_ORIGIN}
      CREATOR_EMAIL: ${CREATOR_EMAIL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_TOKEN_URL: ${GOOGLE_TOKEN_URL}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      GITHUB_TOKEN_URL: ${GITHUB_TOKEN_URL}
      GITHUB_USER_DETAILS_URL: ${GITHUB_USER_DETAILS_URL}
      GITHUB_USER_EMAIL_URL: ${GITHUB_USER_EMAIL_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION_SECONDS: ${JWT_EXPIRATION_SECONDS}
      REFRESH_TOKEN_EXPIRATION_DAYS: ${REFRESH_TOKEN_EXPIRATION_DAYS}
      MINIO_END_POINT: minio
      MINIO_PORT: ${MINIO_PORT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_AVATARS_BUCKET: ${MINIO_AVATARS_BUCKET}
      MINIO_MARKDOWN_IMG_BUCKET: ${MINIO_MARKDOWN_IMG_BUCKET}
      AUTH_REDIRECT_URI: ${AUTH_REDIRECT_URI}
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_ENVIRONMENT: ${VITE_ENVIRONMENT}
        VITE_GOOGLE_CLIENT_ID: ${VITE_GOOGLE_CLIENT_ID}
        VITE_GOOGLE_REDIRECT_URI: ${VITE_GOOGLE_REDIRECT_URI}
        VITE_GITHUB_CLIENT_ID: ${VITE_GITHUB_CLIENT_ID}
        VITE_GITHUB_REDIRECT_URI: ${VITE_GITHUB_REDIRECT_URI}
    ports:
      - "5173:80"

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  pgdata:
  pgadmin_data:
  minio_data:
