/* Base */
@import url('./base/global-media.css');
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* Layout */
@import url('./layout/container.css');
@import url('./layout/footer.css');
@import url('./layout/navbar.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/about.css');

/* Components */
@import url('./components/hero.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/timeline.css');
@import url('./components/skills-grid.css');