.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: 0 0 4px 0;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn:active {
    border-bottom-width: 0;
}

#auth-buttons {
    margin-top: 50px;
}

.btn-blue {
    background-color: var(--color-secondary);
    color: var(--color-snow);
    border-color: var(--color-borders-blue-cosmo);
    outline: none;
}

.btn-blue:hover {
    background-color: var(--color-secondary-hover);
}

.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger-border);
    color: var(--color-snow);
    outline: none;
}

.btn-danger:hover {
    background-color: var(--color-danger-hover);
}

.btn-green {
    background-color: var(--color-primary);
    color: var(--color-snow);
    border-color: var(--color-primary-border);
    outline: none;
}

.btn-green:hover {
    background-color: var(--color-primary-hover);
}

.btn-neutral {
    background-color: var(--color-background-details);
    color: var(--color-snow);
    border-color: var(--color-borders);
    outline: none;
}

.btn-neutral:hover {
    background-color: var(--color-background-details-hover);
}

.delete-btn {
    background: none;
    border: none;
    color: var(--color-danger);
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.delete-btn:hover {
    color: var(--color-danger-hover);
    transform: scale(1.2);
}