.modal-container {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
}

.visibility {
  z-index: 2100;
}

.modal-container.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 100%;
  max-width: 700px;
  border-radius: 2rem;
  transform: translateY(20px) scale(0.95);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
  background-color: var(--color-background-details-hover);
  box-shadow: 0 20px 40px var(--color-black-shadow);
}

.modal-container.show .modal {
  transform: translateY(0) scale(1);
}

.login {
  max-width: 400px;
  border: 1px solid var(--color-primary);
  box-shadow: 0 20px 40px var(--color-black-shadow);
}

.modal-header {
  padding: 32px 32px 24px;
  text-align: center;
  background: var(--color-background-details-hover);
  color: var(--color-snow);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 700;
}

.modal-header p {
  margin-top: 10px;
}

.modal-content {
  padding: 2rem;
}

.modal.large {
  max-width: 1000px;
  width: 90%;
  height: auto;
  max-height: 90vh;
}

.modal-confirmation {
  border: 1px solid var(--color-gray);
  border-radius: 2rem;
}

.modal.large .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-footer {
  padding: 0 2rem 2rem;
  background: var(--color-background-details-hover);
}

.footer-actions {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.delete-subtext {
  margin-top: 0.5rem;
  color: var(--color-snow);
  font-weight: 500;
  text-align: center;
  display: block;
}