.toast {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem 0 var(--color-snow);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    max-width: 500px;
    text-align: center;
}

.toast-show {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.5rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    color: var(--color-snow);
}

.toast-success {
    background-color: var(--color-primary);
}

.toast-error {
    background-color: var(--color-danger);
}

.toast-default {
    background-color: var(--color-gray);
}