<nav class="navbar flex-navbar" id="navbar">
  <div class="nav-head">
    <img src="/assets/images/shipu-logo.svg" class="logo" alt="shipu logo" id="logo" />
    <img src="/assets/images/s-logo.png" class="logo-small" alt="shipu logo" id="logo-small" />
    <img src="/assets/images/grid.png" alt="grid icon" class="navbar-toggle png" id="menu-toggle">
  </div>
  <ul class="nav-links" id="nav-menu">
    <li>
      <a href="/" data-nav="spa" class="navbar-buttons">
        <img src="/assets/images/home.png" class="navbar-icons png">
        <span class="navbar-text">Home</span>
      </a>
    </li>

    <li>
      <a href="/about" data-nav="spa" class="navbar-buttons">
        <img src="/assets/images/about.png" alt="about icon" class="navbar-icons png">
        <span class="navbar-text">About</span>
      </a>
    </li>

    <li>
      <a href="/projects" data-nav="spa" class="navbar-buttons">
        <img src="/assets/images/projects.png" alt="projects icon" class="navbar-icons png">
        <span class="navbar-text">Projects</span>
      </a>
    </li>

    <li>
      <a href="/finance" data-nav="spa" class="navbar-buttons">
        <img src="/assets/images/finance.png" alt="finance icon" class="navbar-icons png">
        <span class="navbar-text">Finance</span>
      </a>
    </li>

    <li id="create-page" style="display: none;">
      <a href="/create" data-nav="spa" class="navbar-buttons">
        <img src="/assets/images/create.png" alt="create icon" class="navbar-icons png">
        <span class="navbar-text">Create</span>
      </a>
    </li>

    <li id="profile" style="display: none;">
    </li>
  </ul>

  <span id="auth-buttons">
    <button id="login-btn" class="btn btn-blue">Login</button>
  </span>
</nav>