<div class="main-page-container home-container">
    <section class="home">
        <div class="container">
            <h1 class="home-title fade-in">Developer & Investor (Maybe <span class="emoji">😆</span>)</h1>
            <p class="subtitle fade-in">Hi, I’m Adrian! I love creating software, whether it’s something useful
                or just a way to learn and explore new ideas.
                I also enjoy investing to build a better and stable financial future.
                If you’re interested, you can follow my journey through code, personal growth, and the markets.</p>
            <div class="home-buttons fade-in">
                <a href="/projects" class="btn btn-blue">View Projects</a>
                <a href="/finance" class="btn btn-green">Finance Journey</a>
            </div>
        </div>
    </section>
</div>