<div class="main-page-container home-container">
    <section>
        <h1 class="home-title fade-in">Developer & Investor (Maybe <span class="emoji">😆</span>)</h1>
        <p class="fade-in">Hi, I’m Adrian! I love creating software, whether it’s something useful
            or just a way to learn and explore new ideas.
            I also enjoy investing to build a better and stable financial future.
            If you’re interested, you can follow my journey through code, personal growth, and the markets.</p>
        <div class="home-buttons fade-in">
            <a href="/projects" class="btn btn-blue">View Projects</a>
            <a href="/finance" class="btn btn-green">Finance Journey</a>
        </div>
    </section>
    <div id="latest-articles" class="latest-articles"></div>
    <div class="more-me">
        <h1 class="home-section-title fade-in">More About Me 🙋</h1>
        <p class="fade-ind subtitle">
            If you’d like to learn more about me, head over to the About section and take a look!
        </p>
        <a href="/about" class="btn btn-blue">About</a>
    </div>
    <div class="site-information">
        <h4 id="shipu">SHIPU?</h4>
        <h4 id="disclaimer">DISCLAIMER</h4>
        <h4 id="icons-provider">ICONS</h4>
    </div>
</div>