<div class="main-page-container profile-flex-container">

    <div class="account-info">
        <section id="user-data">
        </section>

        <div>
            <section id="account-actions">
            </section>

            <div class="site-information">
                <h4 id="shipu">SHIPU?</h4>
                <h4 id="disclaimer">DISCLAIMER</h4>
                <h4 id="icons-provider">ICONS</h4>
            </div>
        </div>
    </div>
    <section id="preferred-articles">
    </section>
</div>