<div class="main-page-container article-creation-container">
    <form id="article-form" class="fade-in">
        <section id="article-metadata"></section>
        <section id="article-editor"></section>

        <div class="form-actions">
            <button id="publish" class="btn btn-green" style="display: none;">Publish</button>
            <button id="save" class="btn btn-blue">Save</button>
            <button id="update" class="btn btn-blue" style="display: none;">Update</button>
            <button id="preview" class="btn btn-neutral">Preview</button>
        </div>
    </form>
    <div id="wip-article" class="wip-container fade-in">
    </div>
</div>