.article-creation-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

#article-form {
    flex: 3;
    max-width: 1000px;
}

#wip-article {
    flex: 1;
    min-width: 400px;
}

.wip-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.article-description {
    margin-top: 20px;
}

.article-metadata {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.articles-wip-section {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article-wip-box {
    border: 1px solid var(--color-gray);
    border-radius: 1.5rem;
    margin: 0.5rem;
    transition: transform 0.5s;
    min-width: 250px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.article-wip-icon {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-background));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-shrink: 0;
    margin: 1rem;
}

.wip-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wip-title {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
}

.green-line {
    border: 1px solid var(--color-primary);
    border-radius: 2rem;
    margin: 1px 1rem 1px 0;

}

.description-paragraph {
    font-size: 0.8rem;
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
    margin-top: 0.5rem;
}

.wip-article-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: var(--color-snow);
    margin: 0.5rem 0 0.3rem 0;
    letter-spacing: var(--letter-spacing);
}

.article-type {
    background-color: var(--color-secondary);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
}

.article-date {
    opacity: 0.5;
}

.article-wip-box:hover .delete-btn {
    opacity: 1;
    transform: scale(1);
}

.confirmation-header {
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 1rem;
}

.confirmation-text {
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.conf-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.modal-conf-title {
    color: var(--color-primary);
    text-align: center;
}

.nanomd-wrapper {
    border: 1px solid var(--color-gray);
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 1rem;
    gap: 10px;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

#nanomd-editor.pd-md-editor {
    background-color: var(--color-background);
    overflow: hidden;
}

#nanomd-editor>div[data-index] {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
}

#nanomd-editor .input-button {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    background: var(--color-background);
    overflow: hidden;
    border-bottom: 1px solid var(--color-primary);
    z-index: 1;
}

.pd-md-editor[data-row="1"]::before {
    position: relative !important;
}

.pd-md-editor>div[data-last="1"]:empty::after {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

#nanomd-editor .input-button .material-symbols-outlined {
    color: var(--color-primary);
}

.article-description>textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-snow);
    line-height: 1.5rem;
    border: 1px solid var(--color-gray);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    font-family: "Inter";
    letter-spacing: var(--letter-spacing);
}

.article-description>textarea:focus {
    border-color: var(--color-primary);
    outline: none;
}

.article-description>textarea::placeholder {
    color: var(--color-snow);
    opacity: 0.4;
}

.form-actions {
    display: flex;
    gap: 10px;
    padding: 1rem;
}

#article-preview-content.modal-content {
    width: 1000px;
    background-color: var(--color-background-details);
    border-radius: 1.5rem;
    border: 1px solid var(--color-gray);
    color: var(--color-snow);
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#article-preview-content.modal-content::-webkit-scrollbar {
    display: none;
}

.article-wip-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0.5rem 0 var(--color-primary);
}

.article-wip-box.active {
    box-shadow: 0 0 0.5rem 0 var(--color-primary);
    border-color: var(--color-primary);
    transform: scale(1.02) translateY(-5px);
    pointer-events: none;
}

.article-wip-box.active .delete-btn {
    display: none !important;
}

.custom-dropdown {
    position: relative;
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-background));
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.custom-dropdown .selected {
    padding: 0.5rem;
}

.custom-dropdown .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    background: var(--color-background-details);
    border-radius: 1rem;
    overflow: hidden;
    z-index: 10;
}

.custom-dropdown.open .options {
    display: block;
}

.option {
    padding: 0.5rem;
    transition: background 0.4s;
}

.option:hover {
    background: var(--color-hover);
}

.title {
    min-height: 55px;
    min-width: 420px;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--color-gray);
    background-color: var(--color-background);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: var(--letter-spacing);
    color: var(--color-snow);
}

.title:focus {
    border-color: var(--color-primary);
}

.categories {
    background: var(--color-background);
    border: 1px solid var(--color-gray);
    width: 200px;
    letter-spacing: var(--letter-spacing);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
}