.article-creation-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

#article-form {
    flex: 3;
    max-width: 1000px;
}

#wip-article {
    flex: 1;
    min-width: 400px;
}

.wip-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.article-description {
    margin-top: 20px;
}

.article-metadata {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.article-wip-box {
    border: 2px solid var(--color-gray);
    border-radius: 1.5rem;
    margin: 0 1rem;
    transition: transform 0.2s;
}

.wip-box-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
    border-width: 2px;
    border-radius: 1.5rem;
    letter-spacing: var(--letter-spacing);
}

.wip-box-header>h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.wip-box-header>p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.wip-box-category {
    display: flex;
    gap: 10px;
}

.nanomd-wrapper {
    border: 2px solid var(--color-gray);
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 1rem;
    gap: 10px;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

#nanomd-editor.pd-md-editor {
    background-color: var(--color-background);
    overflow: hidden;
}

#nanomd-editor>div[data-index] {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
}

#nanomd-editor .input-button {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    background: var(--color-background);
    overflow: hidden;
    border-bottom: 2px solid var(--color-primary);
    z-index: 1;
}

.pd-md-editor>div[data-last="1"]:empty::after {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

#nanomd-editor .input-button .material-symbols-outlined {
    color: var(--color-primary);
}

.article-metadata-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 2px solid var(--color-gray);
    border-radius: 1.5rem;
    width: auto;
    flex-wrap: wrap;
}

.metadata-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.metadata-box>p {
    color: var(--color-snow);
    line-height: 34px;
    letter-spacing: var(--letter-spacing);
    font-size: 16px;
    font-weight: 500;
}

.metadata-box>input {
    border-radius: 1rem;
    background-color: var(--color-background);
    color: var(--color-snow);
    line-height: 34px;
    border: 2px solid var(--color-gray);
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    letter-spacing: var(--letter-spacing);
}

.metadata-box>input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.metadata-box>select {
    background-color: var(--color-background);
    border: 2px solid var(--color-gray);
    border-radius: 1rem;
    padding: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    font-size: 1.10rem;
    font-family: "Inter";
    font-weight: 500;
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
}

.icon {
    width: 75px;
    height: 40px;
}

.category {
    width: 200px;
    height: 40px;
}

.metadata-box>select:focus {
    border-color: var(--color-primary);
    outline: none;
}

.article-description>textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-snow);
    line-height: 24px;
    border: 2px solid var(--color-gray);
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    font-family: "Inter";
    letter-spacing: var(--letter-spacing);
}

.article-description>textarea:focus {
    border-color: var(--color-primary);
    outline: none;
}

.article-description>textarea::placeholder {
    color: var(--color-snow);
    opacity: 0.4;
}

.form-actions {
    display: flex;
    gap: 10px;
    padding: 1rem;
}

#article-preview-content.modal-content {
    width: 1000px;
    background-color: var(--color-background);
    border-radius: 1.5rem;
    border: 2px solid var(--color-gray);
    color: var(--color-snow);
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
}

.wip-box-category-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    border-bottom: 2px solid var(--color-gray);
    border-radius: 1rem;
    border-color: var(--color-borders-blue);
    letter-spacing: var(--letter-spacing);
}

.wip-box-category-date>h1 {
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.wip-date {
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--color-gray);
    border-radius: 1rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.published {
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--color-danger);
    border-radius: 1rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.description-paragraph {
    margin: 0 0.5rem 1rem 1rem;
    letter-spacing: var(--letter-spacing);
    font-size: 1rem;
    line-height: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.article-wip-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0.5rem 0 var(--color-primary);
}

@media (max-width: 1450px) {
    .article-metadata-row {
        flex-direction: column;
        margin-left: 0;
    }
}