.finance-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
}

.finance-header {
    text-align: center;
    margin-bottom: 2rem;
}

.finance-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 1rem;
    letter-spacing: var(--letter-spacing);
}

.finance-subtitle {
    font-size: 1.2rem;
    max-width: 75%;
    margin: 0 auto;
    color: var(--color-snow);
    letter-spacing: var(--letter-spacing);
}

#finance-overview {
    width: 90%;
}

@media (max-width: 768px) {
    .finance-title {
        font-size: 2rem;
    }
}