.fade-in {
    animation: fadeInUp 1s ease forwards;
}

.section {
    margin-bottom: 2rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.home-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}

.home-text{
    color: var(--color-snow);
    font-size: 1.10rem;
    margin: 1rem auto 2rem auto;
    max-width: 1200px;
    text-align: center;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.emoji {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    color: var(--color-snow);
}

.latest-articles {
    margin: 1rem;
}

.latest-articles>h1 {
    text-align: center;
}

.home-section-title {
    margin-bottom: 1rem;
    color: var(--color-secondary);
}

.more-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--color-gray);
    padding: 0.3rem;
}

.site-information>h4:hover {
    color: var(--color-secondary);
    cursor: pointer;
}

.icons-from {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.star-icon {
    transition: 0.3s;
}

@media (max-width: 768px) {
    .home-buttons {
        flex-direction: column;
        align-items: center;
    }

    .home-title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }
}