.fade-in {
    animation: fadeInUp 1s ease forwards;
}

.section {
    margin-bottom: 2rem;
}

.home-container {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.home-title {
    font-size: 3rem;
    font-weight: var(700);
    color: var(--color-primary);
}

.subtitle {
    color: var(--color-snow);
    font-size: 1.15rem;
    margin: 1rem auto 2rem auto;
    max-width: 1800px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.emoji {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    color: var(--color-snow);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}