.fade-in {
    animation: fadeInUp 1s ease forwards;
}

.section {
    margin-bottom: 2rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.home-title {
    font-size: 3rem;
    font-weight: var(700);
    color: var(--color-primary);
}

.home-container p {
    color: var(--color-snow);
    font-size: 1.10rem;
    margin: 1rem auto 2rem auto;
    max-width: 1800px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.emoji {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    color: var(--color-snow);
}

.latest-articles {
    margin: 1rem;
}

.home-section-title {
    margin-bottom: 1rem;
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .home-buttons {
        flex-direction: column;
        align-items: center;
    }

    .home-title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}