.profile-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.account-info {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid var(--color-primary);
}

.avatar-box {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-primary);
}

.profile-name {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 2rem 0 1rem;
    font-weight: 700;
    text-align: initial;
    color: var(--color-snow);
}

.user-email {
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
}

.extra-details {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.extra-details>p {
    color: var(--color-snow);
    line-height: 2rem;
    margin-top: 10px;
}

.role-badge {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
    text-decoration: none;
    height: 2rem;
    font-size: 1rem;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-primary-background);
    color: var(--color-primary);
    text-align: center;
}

.profile-container>h2 {
    color: var(--color-snow);
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
}

.profile-buttons-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid var(--color-primary);
}

#preferred-articles {
    padding-left: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.liked-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.liked-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 100%/4), 1fr));
    gap: 2rem;
    width: 100%;
}

.modal-content.info {
    border: 1px solid var(--color-gray);
    border-radius: 1.5rem;
    text-align: center;
}

#preferred-articles > .btn {
    margin-top: 2rem;
}

#info-header.confirmation-header {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .account-info {
        flex-direction: column;
    }

    .profile-name {
        font-size: 1.3rem;
        text-align: center;
    }

    .profile-buttons-box {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        border: none;
    }

    .profile-buttons-box>.btn {
        width: 100%;
    }

    .extra-details {
        flex-direction: column;
    }
}