<div id="confirmation-modal" class="modal-container hidden">
    <div class="modal">
        <div id="confirmation-content" class="modal-content">
            <div id="conf-header" class="confirmation-header"></div>
            <p id="conf-text" class="confirmation-text"></p>
            <div class="conf-buttons">
                <button id="confirm" class="btn btn-green">Confirm</button>
                <button id="cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>