<div id="login-modal" class="modal-container hidden">
    <div class="modal">
        <div class="modal-header">
            <h2>Sign in with</h2>
        </div>
        <div class="modal-content">
            <button id="btn-google" class="btn-oauth btn-google">
                <img src="/assets/images/google-logo.png" alt="Google logo" />
                Sign in with Google
            </button>
            <button id="btn-apple" class="btn-oauth btn-apple">
                <img src="/assets/images/apple-logo.png" alt="Apple logo" />
                Sign in with Apple
            </button>
            <button id="btn-github" class=" btn-oauth btn-github">
                <img src="/assets/images/github-logo.png" alt="GitHub logo" />
                Sign in with GitHub
            </button>
        </div>
        <div class="modal-footer">
            <button id="btn-close-modal" class="btn-close-modal">Cancel</button>
        </div>
    </div>
</div>