<nav class="navbar flex-navbar">
  <!--TODO: <div class="navbar-toggle" id="menu-toggle" style="display: none;">☰</div>  Handle the mobile toggle of the sidebar-->
  <img src="/assets/images/shipu-logo.svg" class="logo" alt="shipu logo" />
  <ul class="nav-links" id="nav-menu">
    <li class="navbar-buttons">
      <img src="/assets/images/home.png" alt="home icon" class="navbar-icons png">
      <a class="navbar-text" href="/" data-nav="spa">Home</a>
    </li>

    <li class="navbar-buttons">
      <img src="/assets/images/about.png" alt="home icon" class="navbar-icons png">
      <a class="navbar-text" href="/about" data-nav="spa">About</a>
    </li>

    <li class="navbar-buttons">
      <img src="/assets/images/projects.png" alt="home icon" class="navbar-icons png">
      <a class="navbar-text" href="/projects" data-nav="spa">Projects</a>
    </li>

    <li class="navbar-buttons">
      <img src="/assets/images/finance.png" alt="home icon" class="navbar-icons png">
      <a class="navbar-text" href="/finance" data-nav="spa">Finance</a>
    </li>

    <li class="navbar-buttons" id="create-page" style="display: none;">
      <img src="/assets/images/create.png" alt="home icon" class="navbar-icons png">
      <a class="navbar-text" href="/create" data-nav="spa">Create</a>
    </li>

    <li class="navbar-buttons" id="profile" style="display: none;">
    </li>
  </ul>

  <span id="auth-buttons">
    <button id="login-btn" class="btn btn-blue">Login</button>
  </span>

  <div class="site-information">
    <h4 id="shipu">SHIPU?</h4>
    <h4 id="disclaimer">DISCLAIMER</h4>
    <h4 id="icons-provider">ICONS</h4>
  </div>
</nav>