html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100%;
    background: var(--color-background);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
}